@import "tailwindcss";
@plugin "@tailwindcss/typography";
.code-wrapper {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.code-wrapper pre {
  padding-right: 3rem;
}

.copy-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.copy-btn:hover {
  opacity: 1;
}

.prose-invert :not(pre) > code {
  background-color: #4a5568; /* gray-700 */
  color: #f7fafc; /* gray-100 */
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.prose {
  max-width: none;
}

.prose img {
  max-width: 100%; /* Allows images to be their natural size or larger */
  width: auto; /* Or set a specific width, e.g., width: 100vw; for full viewport width */
}

/* Force-remove backticks from inline code */
.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}
