---
import WorkshopLayout from '../layouts/WorkshopLayout.astro';
---
<WorkshopLayout title="Velkommen til p5.js-verkstedet!">
	<p class="text-xl">Her vil du lære det grunnleggende om kreativ koding med p5.js.</p>
	<p>Bruk menyen til venstre for å navigere mellom leksjonene.</p>
</WorkshopLayout>
