---
import WorkshopLayout from '../layouts/WorkshopLayout.astro';
---
<WorkshopLayout title="Velkommen til p5.js-verkstedet!">
	<p class="text-xl">Her vil du lære det grunnleggende om kreativ koding med p5.js.</p>
	<p>Bruk menyen til venstre for å navigere mellom leksjonene.</p>

	<p>
		Her kan du klikke for å åpne p5.js dokumentasjon: <a href="https://p5js.org/reference/" target="_blank" rel="noreferrer">https://p5js.org/reference/</a>
	</p>

	<p>
		Her kan du klikke for å åpne p5.js kodeeditor: <a href="https://editor.p5js.org/" target="_blank" rel="noreferrer">https://editor.p5js.org/</a>
	</p>

</WorkshopLayout>
